<h1>
  {{model.challengeName}}
  ::
  {{model.host.name}}
  &rarr;
  {{model.guest.name}}
</h1>

<h3>Prequel</h3>
<ul>
  {{#each model.prequels as |prequel|}}
    <li>
      {{#link-to "episode" prequel}}
        {{episode-link episode=prequel}}
      {{/link-to}}
    </li>
  {{else}}
    <li>
      <em>This episode is the start of a chain.</em>
      {{link-to "See the root episodes" "index"}}
    </li>
  {{/each}}
</ul>

<h3>Sequels</h3>
<ul>
  {{#each model.sequels as |sequel|}}
    <li>
      {{#link-to "episode" sequel}}
        {{episode-link episode=sequel}}
      {{/link-to}}
    </li>
  {{else}}
    <li><em>No sequels yet.</em></li>
  {{/each}}
</ul>
